{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "printWidth": 125,
  "useTabs": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma": "none"
}
